.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: darkgray;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.TextArea {
    resize:vertical;
}

.CheckBox {
    float: left;
    /* background-color: red; */
}



.ReadOnly {
    background-color: #dddddd;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}

.Hidden {
    display: none;
}

.DivMain {
    display: flex;
}

.Container {
    border: 1px solid;
    background-color: whitesmoke;
}

.DivLeft {
    width: 90%;
    text-align: left;
    margin-left: 10px;
}

.DivRight{
    flex-grow: 1;
}